.App {
  text-align: center;
  /* background-color: #c5f0df; */
  background: linear-gradient(120deg, #c5f0df, #e2f073, #b1f0bc);
  background-size: 10000% 10000%;
        
  -webkit-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
  
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 57%}
  50%{background-position:100% 44%}
  100%{background-position:0% 57%}
}
@keyframes AnimationName {
  0%{background-position:0% 57%}
  50%{background-position:100% 44%}
  100%{background-position:0% 57%}


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.gitHub{

  text-align: center;
  /* background-color: #c5f0df; */
  background: linear-gradient(120deg, #fcdd55, #63e73b, #d14dd1);
  background-size: 10000% 10000%;
        
  -webkit-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;

}